@use "./typography" as *;
@use "./variables" as *;

@mixin mobile {
    @media screen and (max-width: $tablet-break) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet-break) and (max-width: $desktop-break) {
        @content;
    }
}

@mixin white-button {
    @include button-text-white;
    border: 1.5px solid $VDarkViolet;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: $VDarkViolet;
    }
}

@mixin mobile-button {
    @include pages-text-mobile;
    border: 1.5px solid $LightGray;
    padding: 1rem 2rem;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: $LightGray;
        color: $DarkViolet;
        text-decoration: none;
    }
}

@mixin violet-button {
    @include button-text-violet;
    border: 2px solid $LightGray;
    color: $LightGray;
    padding: 1rem 2rem;
    text-decoration: none;
    width: 10rem;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: $LightGray;
        color: $DarkViolet;
        text-decoration: none;
        cursor: pointer;
    }
}
