@use "../styles/partials/resets" as *;
@use "../styles/partials/variables" as *;
@use "../styles/partials/typography" as *;
@use "../styles/partials/mixins" as *;

.nav {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: white;

    @include mobile {
        padding: 1.5rem;
    }

    &__logo {
        height: 1.125rem;
    }

    &__desktop {
        display: flex;
        gap: 2rem;

        &--page {
            @include pages-text;
            list-style: none;
            text-decoration: none;
        }

        &--link {
            @extend .nav__desktop--page;
        }

        &--cta {
            @include white-button;
        }

        @include mobile {
            display: none;
        }
    }

    &__mobile {
        display: none;

        @include mobile {
            display: none;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            position: fixed;
            top: 4rem;
            left: 0;
            width: 100%;
            height: calc(100vh - 4rem);
            background-color: $DarkViolet;
            padding: 2.5rem;
            z-index: 998;

            &--pages {
                @include pages-text-mobile;
                text-decoration: none;
                text-transform: uppercase;

                &:hover {
                    text-decoration: none;
                }
            }

            &--link {
                @include pages-text-mobile;
                text-decoration: none;
            }

            &--cta {
                @include mobile-button;
                width: 100%;
                text-align: center;
            }
        }
    }

    &__mobile--hamburger {
        display: none;

        @include mobile {
            display: block;
            background: transparent;
            border: none;
            cursor: pointer;
            z-index: 999;
            padding: 0;

            .nav__mobile--close {
                display: none;
            }
        }
    }

    &.active {
        .nav__mobile {
            display: flex;
        }

        .nav__mobile--hamburger {
            .nav__mobile--menu {
                display: none;
            }

            .nav__mobile--close {
                display: block;
            }
        }
    }
}
