*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Colors */
/* Primary colors */
/* Neutral Colors */
@font-face {
  font-family: "DMSerifDisplay";
  src: url("../../assets/fonts/DMSerifDisplay-Regular.ttf") format(truetype);
  font-weight: 400;
}
@font-face {
  font-family: "Karla";
  src: url("../../assets/fonts/Karla-Regular.ttf") format(truetype);
  font-weight: 400;
}
@font-face {
  font-family: "Karla";
  src: url("../../assets/fonts/Karla-Bold.ttf") format(truetype);
  font-weight: 700;
}
/*Desktop typography styles*/
/*Mobile typography styles*/
.nav {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  background-color: white;
}
@media screen and (max-width: 768px) {
  .nav {
    padding: 1.5rem;
  }
}
.nav__logo {
  height: 1.125rem;
  padding: 0 1rem;
}
.nav__desktop {
  display: flex;
  gap: 2rem;
}
.nav__desktop--page, .nav__desktop--link {
  font-family: "karla", sans-serif;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 0.95rem;
  color: hsl(273, 4%, 51%);
  list-style: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.nav__desktop--page:hover, .nav__desktop--link:hover {
  color: hsl(270, 9%, 17%);
  cursor: pointer;
}
.nav__desktop--button {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 0.95rem;
  color: hsl(270, 9%, 17%);
  border: 1.5px solid hsl(270, 9%, 17%);
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.nav__desktop--button:hover {
  color: hsl(0, 0%, 98%);
  cursor: pointer;
}
.nav__desktop--button:hover {
  background-color: hsl(270, 9%, 17%);
}
@media screen and (max-width: 768px) {
  .nav__desktop {
    display: none;
  }
}
.nav__mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav__mobile {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    position: fixed;
    top: 4rem;
    left: 0;
    width: 100%;
    height: calc(100vh - 4rem);
    background-color: hsl(256, 26%, 20%);
    padding: 2.5rem;
    z-index: 998;
  }
  .nav__mobile--pages {
    font-family: "karla", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2.5rem;
    color: hsl(0, 0%, 98%);
    text-decoration: none;
    text-transform: uppercase;
  }
  .nav__mobile--pages:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .nav__mobile--pages:hover {
    text-decoration: none;
  }
  .nav__mobile--link {
    font-family: "karla", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2.5rem;
    color: hsl(0, 0%, 98%);
    text-decoration: none;
  }
  .nav__mobile--link:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .nav__mobile--cta {
    font-family: "karla", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2.5rem;
    color: hsl(0, 0%, 98%);
    border: 1.5px solid hsl(0, 0%, 98%);
    padding: 1rem 2rem;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
    text-align: center;
  }
  .nav__mobile--cta:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .nav__mobile--cta:hover {
    background-color: hsl(0, 0%, 98%);
    color: hsl(256, 26%, 20%);
    text-decoration: none;
  }
  .nav__mobile--bg {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
.nav__mobile--hamburger {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav__mobile--hamburger {
    display: block;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 999;
    padding: 0;
  }
  .nav__mobile--hamburger .nav__mobile--close {
    display: none;
  }
}
.nav.active .nav__mobile {
  display: flex;
}
.nav.active .nav__mobile--hamburger .nav__mobile--menu {
  display: none;
}
.nav.active .nav__mobile--hamburger .nav__mobile--close {
  display: block;
}/*# sourceMappingURL=index.css.map */